@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body{
    margin: 0;
    height: 0;
}

div#main{
    display: flex;
    margin: 100px auto;
    width: fit-content;
    justify-content: center;
}

section{
    width: 300px;
    height: 440px;
}

#container1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px ;
    display: flex;
    flex-direction: column;
    align-items: center;   
}


#container2{
    background-color: hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container3{
    background-color:hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg{
    position: relative;
    bottom: -25px;
    left: -69px;
}

#container2>h1{
    position: relative;
    bottom: -25px;
    left: -69px;
} 

#container3>h1{
    position: relative;
    bottom: -25px;
    left: -61px;
} 

h1{
    position: relative;
    left: -64px;
    bottom: -26px;
}

p{  
    position: relative;
    bottom: -30px;
    width: 200px;
    height:fit-content;
    margin: 1px auto;
}

p.button{
    position: relative;
    bottom: -90px;
    left: -32px;
    background-color: hsl(0, 0%, 95%);
    width: 116px;
    height: 21px;
    padding: 11px;
    border-radius: 30px;
    text-align: center;
}



@media only screen and (max-width: 600px){
    
}
