@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body{
    margin: 0;
    margin: 10px;
}

div#main{
    display: flex;
    margin: 100px auto;
    justify-content: center;
}

section{
    width: 300px;
    height: 400px;
}

#container1{
    background-color: hsl(31, 77%, 52%);
    padding: 10px auto;
}

#container1 > h1{
    margin: 10px auto;
}   

#container2{
    background-color: hsl(184, 100%, 22%);
}

#container3{
    background-color:hsl(179, 100%, 13%) ;
}